:host {
    background: #fff!important;
    .header__logo-image-wrapper {
        background-color: transparent !important;
    }
    .header__hamburger {
        background: #fff!important;
        @include button($background-color: #fff);
        img {
            filter: invert(0%) sepia(0%) saturate(0%) brightness(100%) contrast(0%);
        }
	}
}