@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

#upscale {
	background-color: #fff;
    color: #373737;
}

h1, h2, h3 {
    font-family: 'Ubuntu' !important;
}

h2 {
    font-size: 50px;
    line-height: 50px;
}

h3 {
    font-size: 40px;
    line-height: 38px;
}

h4 {
    font-size: 16px;
    line-height: 26px;
}

p {
    font-size: 16px !important;
    line-height: 26px;
}

a {
    color: #075394 !important; 
}

button {
    font-family: 'Roboto' !important;
    font-size: 22px;
    text-transform: uppercase;
    height: 65px;
    width: 280px;
    border-radius: 5px;
}

.header__bottom nav a {
    background-color: #fff !important;
    color: #373737 !important;
    font-size: 18px !important;
    font-family: 'Ubuntu' !important;
    font-weight: 500 !important;
}

.header__bottom nav a:hover {
    color: #007db8 !important;
    text-decoration: underline !important;
}

upscale-storybook h1 {
    font-weight: 700 !important;
    font-size: 40px !important;
    line-height: 38px !important;
}
