.storybook-content .details {
    .content-headline {
        font-size: 26px!important;
        max-height: none!important;
    }
    .content-subheadline {
        font-size: 18px!important;
        max-height: none!important;
    }
}