.upscale-desktop :host {
	.configuration {
		padding: 0;
        margin-top: 50px;
	}
}

.upscale-mobile :host {
	.configuration {
		padding: 0;
	}
}

.content-slot-component-background {
	background-color: #fff !important;
}